@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-Regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-regular-Italic-400.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-Medium-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}