$primary: #470417;
$secondary: #F8F5DA;
$white: #FEFDFD;
$black: #262223;
$light-gray: #D4D4D4;
$gray: #8A8A8A;
$dark-gray: #525051;
$error: #E55F42;
$info: #6494F0;
$warning: #F2ED7C;
$success: #64D376;
