.categories {
  height: 684px;
  width: 100%;
  background-color: brown;

  // &__content {

  // }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
    // margin-top: ;
  }
}