// @import url(../../assets/styles/nav.scss);
@import '../../shared/styles/variables';

.footer {
  // height: 100px;
  background-color: $primary;
  // padding: 0;

  // &__content {

  // }

  &__nav {
    height: 42px;
    margin-top: 24px;
  }

  &__nav-list {
    display: flex;
    gap: 12px;
  }

  &__nav-item {
    padding: 8px;
  }

  &__nav-link {
    //styleName: Main text;
    font-family: Archivo;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-decoration: none;
    color: $white;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 24px;
  }
}

